<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <a href="/">Home</a>
    <a href="/posts">Browse Posts</a>
    <a href="/about">About Us</a>
    <a href="/newPost">New Posts</a>
    <a href="/search">Search</a>
    <a href="/users">Users</a>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    
    <link rel="stylesheet" type="text/css" href="/styles.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discussion Forum</title>
</head>
<body>
    <h1>Welcome to the Discussion Forum</h1>
    <p>Explore and discuss various topics with the community.</p>
    <a href="/posts">Browse Posts</a>

</body>
</html>
