<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <a href="/">Home</a>
    <a href="/posts">Browse Posts</a>
    <a href="/about">About Us</a>
    <a href="/newPost">New Posts</a>
    <a href="/search">Search</a>
    <a href="/users">Users</a>
    <a href="/register">Register</a>
    <a href="/login">Login</a>

    <link rel="stylesheet" type="text/css" href="/styles.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post" action="/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>
